.item-info img {
  width: 400px;
  height: 300px;
}

.item-info{
    border: 2px solid aquamarine;
    border-radius: 10px;

}

.add-btn {
  background-color: aquamarine;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-btn:hover {
  cursor: pointer;
}
